@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@300&display=swap");
$primary-font: Londrina Solid;
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
body {
  height: 100vh;
  display: flex;
  background: linear-gradient(
    109.6deg,
    rgb(0, 0, 0) 11.2%,
    rgb(11, 132, 145) 91.1%
  );
}
@media screen and (max-width: 660px) {
  body {
    background: #032124;
  }
}
@media screen and (max-width: 480px) {
  body {
    background: #032124;
  }
}
