@use "./base"as *;
.game-instructions {
  &__heading {
    font-family: $primary-font;
    text-align: center;
    margin: 20px auto;
    color: white;
    font-size: 50px;
  }

  &__button {
    border-radius: 10px;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, 0.2);
    margin: 20px auto;
    padding: 15px 20px;
    font-size: 15px;
    background-color: #7391ff;
  }
  &__button:hover {
    cursor: pointer;
  }
  &__paragraph {
    border: 1px solid #407088;
    border-radius: 10px;
    padding: 20px auto;
    font-family: $primary-font;
  }
}

.memory-game {
  &__heading {
    text-align: center;
    margin-bottom: 20px;
  }
  &__card {
    // width and height are calculated with calc() CSS function
    width: calc(25% - 10px);

    height: calc(33.333% - 10px);

    margin: 5px;
    position: relative;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    // scales the element across the x or y axis/strech or shrink/1 does nothing
    transform: scale(1);
    //   To position the card in the 3D space created for the parent
    transform-style: preserve-3d;
    //   Adding movement effect
    transition: transform 0.5s;
  }
  &__card.flip {
    transform: rotateY(180deg);
  }
  &__card:hover {
    cursor: pointer;
  }
  &__front-face {
    width: 100%;
    height: 100%;
    padding: 20px;
    position: absolute;
    background: black;
    //   To reveal the image underneath it
    backface-visibility: hidden;
    transform: rotateY(180deg);
  }
  &__back-face {
    width: 100%;
    height: 100%;
    padding: 20px;
    position: absolute;

    //   To reveal the image underneath it
    backface-visibility: hidden;
  }
  &__winning-message-container {
    background-color: #043035;
    color: white;
    padding: 20px 20px;
    height: 25vh;
    width: 80%;
    opacity: 0.8;
    visibility: hidden;
    position: absolute;
    margin: 100px 60px;
    z-index: 3;
    animation: dangle 10s infinite;
    font-family: $primary-font;
    font-size: 30px;
  }
  &__winning-message-container:hover {
    cursor: pointer;
    opacity: 1;
  }
  @keyframes dangle {
    0% {
      -webkit-transform: rotate(30deg);
    }
    10% {
      -webkit-transform: rotate(-28deg);
    }
    20% {
      -webkit-transform: rotate(26deg);
    }
    30% {
      -webkit-transform: rotate(-24deg);
    }
    40% {
      -webkit-transform: rotate(22deg);
    }
    50% {
      -webkit-transform: rotate(-20deg);
    }
    60% {
      -webkit-transform: rotate(18deg);
    }
    70% {
      -webkit-transform: rotate(-16deg);
    }
    80% {
      -webkit-transform: rotate(12deg);
    }
  }

  &__win-message {
    text-align: center;
    margin-bottom: 20px;
  }
  &__restart-btn {
    display: block;
    margin: 0 auto;
    background: orange;
    padding: 10px 10px;
    border-radius: 10px;
  }
}
